---
import { CollectionEntry, getCollection } from 'astro:content'
import BlogPost from '@layouts/BlogPost.astro'
import MainLayout from '@layouts/MainLayout.astro'
import { t } from 'i18next'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map(post => ({
    params: { slug: post.slug },
    props: post
  }))
}
type Props = CollectionEntry<'blog'>

const post = Astro.props
const { Content } = await post.render()
---

<MainLayout title={post.data.title} description={post.data.title}>
  <BlogPost {...post.data}>
    <h1>{post.data.title}</h1>
    <Content />
  </BlogPost>
</MainLayout>
