body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: #eee9da;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
