---
import HistoryOfWork from '@components/About/HistoryOfWork.astro'
import TextHeader from '@components/TextHeader.astro'
import { HistoryOfWorkDb } from '@data/HistoryOfWorkService'
import MainLayout from '@layouts/MainLayout.astro'
import { t } from 'i18next'
---

<MainLayout
  title={t('pages.about.title')}
  description={t('pages.about.short_description')}
>
  <main class="flex flex-col gap-6">
    <div class="self-center text-4xl">
      <TextHeader>{t('common.myname')}</TextHeader>
    </div>
    <p class="pb-6">{t('pages.about.short_description')}</p>
    <HistoryOfWork works={HistoryOfWorkDb.reverse()} />
  </main>
</MainLayout>
