---
import type { TechStackItem } from '@data/entities/TechStackItem';



interface Props {
  item: TechStackItem
}

const { item } = Astro.props
---

<div
  class="tack-stack-item
  p-1
  px-3
  rounded-lg
  border-[1px]
  border-zinc-800
  shadow-sm
  shadow-zinc-400/50
  text-zinc-800
  hover:shadow-xl
  hover:bg-zinc-800
  hover:text-white
  cursor-pointer
  "
>
  <p>{item.title}</p>
</div>
