---
import type { TechStackItem } from '@data/TechStackItem';


interface Props {
  item: TechStackItem
}

const { item } = Astro.props
---

<div
  class="tack-stack-item p-1 px-3 rounded-lg bg-cyan-500 shadow-md shadow-cyan-500/50 hover:shadow-xl text-white hover:bg-cyan-600 cursor-pointer"
>
  <p>{item.title}</p>
</div>
