---
import { Icon } from 'astro-icon'
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="w-full flex items-center">
  <h2 class="font-bold font-header text-lg hover:text-cyan-600">
    {SITE_TITLE}
  </h2>
  <nav class="pl-8 flex flex-1 gap-4 font-body">
    <HeaderLink href="/">About me</HeaderLink>
    <HeaderLink href="/techstack">Tech's</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
  <HeaderLink
    href="https://github.com/sharpyx-official"
    target="_blank"
    animated={false}
    class={`flex items-center gap-2`}
  >
    <Icon name="mdi:github" class="w-7" />
    <span class="h-min font-body">GitHub</span>
  </HeaderLink>
</header>
