---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="flex align-middle">
  <h2>
    {SITE_TITLE}
  </h2>
  <nav class="pl-8 flex flex-1 gap-4">
    <HeaderLink href="/">About me</HeaderLink>
    <HeaderLink href="/techstack">Tech's</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
  <HeaderLink href="https://github.com/sharpyx-official" target="_blank">
    GitHub
  </HeaderLink>
</header>
