---
import { t } from 'i18next'
import { Icon } from 'astro-icon'
import HeaderLink from './HeaderLink.astro'
---

<header class="w-full flex items-center">
  <h2 class="font-bold font-header text-lg hover:text-cyan-600">
    {t('header.title')}
  </h2>
  <nav class="pl-8 flex flex-1 gap-4 font-body">
    <HeaderLink href="/">{t('header.about')}</HeaderLink>
    <HeaderLink href="/techstack">{t('header.techstack')}</HeaderLink>
    <HeaderLink href="/blog">{t('header.blog')}</HeaderLink>
  </nav>
  <HeaderLink
    href="https://github.com/sharpyx-official"
    target="_blank"
    animated={false}
    class={`flex items-center gap-2`}
  >
    <Icon name="mdi:github" class="w-7" />
    <span class="h-min font-body">GitHub</span>
  </HeaderLink>
</header>
