---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'h1'> {
  width?: number
}

const { width = 90, class: className, ...props } = Astro.props
---

<h1
  class:list={[
    `font-bold block w-max pr-2 bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-sky-300 to-sky-300`,
    className
  ]}
  {...props}
>
  <slot />
</h1>
